@media screen and (max-width: 575px) {
    /* ------------------------------global------------------------------ */
    h2{
        margin-left: auto;
        margin-right: auto;
        font-size: 6vw;
    }

    /* ------------------------------navigatio menu------------------------------ */
    nav{
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        z-index: 1;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        text-align: right;
        gap: 2vw;
        transition: transform 0.5s ease;
        transform: translateX(100%);
    }
    nav > a{
        display: block;
        font-size: 3vw;
        margin-left: 10%;
    }
    #first_nav_text{
        margin-top: 22%;
    }

    /* burger button */
    #burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 6.25vw;
        height: 3.75vw;
        margin: auto 0;
        cursor: pointer;
        z-index: 2;
    }

    /* animation */
    .nav-open{
        transform: translateX(0);
    }
    #burger > div{
        transition: 0.5s ease;
        transform-origin: left;
    }
    .cross{
        position: fixed;
        top: 4.3vw;
        right: 5.8%;
    }
    .cross > div:nth-child(1) {
        transform: rotate(45deg) translate(-5%, -150%);
        background-color: lightgray !important;
    }
    .cross > div:nth-child(2){
        opacity: 0;
    }
    .cross > div:nth-child(3){
        transform: rotate(-45deg) translateY(80%);
        background-color: lightgray !important;
    }

    /* ------------------------------header------------------------------ */
    /* top */
    #top{
        justify-content: left;
        width: 90%;
        margin: 0 auto;
    }
    #top > img{
        width: 11vw;
        margin-right: 80%;
    }

    /* order */
    #order > p{
        font-size: 6.5vw;
    }
    #order > p > span{
        font-size: 3.5vw;
    }
    #order > button{
        font-size: 4vw;
        border-radius: 8px;
        padding: 1.5% 0.5%;
        margin-top: 45%;
        margin-left: 5%;
    }

    /* ------------------------------tops products------------------------------ */
    .item_text{
        height: 25vw;
        margin-top: 70%;
    }
    .item_text > img{
        width: 8vw;
    }
    .item_price{
        font-size: 4vw;
    }
    .item_name{
        font-size: 4vw;
    }
    .add{
        font-size: 4vw;
        border-radius: 4px;
        padding: 10% 12%;
    }
    #product{
        margin-top: 8%;
    }

    /* ------------------------------event------------------------------ */
    #event > img{
        width: 300%;
        margin-left: -90%;
    }
    #event > h2{
        margin: 20% auto 0 auto;
    }
    #event > p{
        font-size: 4vw;
        margin: 51.5% auto 0 auto;
        width: 75%;
    }
    #event > button{
        padding: 3.5% 7%;
        font-size: 3.5vw;
        margin-top: 83%;
    }

    /* ------------------------------discover------------------------------ */
    .switch_img{
        width: 80%;
    }
    .switch_img > img{
        width: 100%;
        margin: 5% 0;
    }
    #switch{
        gap: 8%;
        overflow: scroll;
        scrollbar-width: none;
    }
    #switch::-webkit-scrollbar{
        display: none;
    }
    #switch > div > p{
        font-size: 4vw;
    }
    #switch > div > div{
        height: 0.6vw;
    }

    /* ------------------------------about------------------------------ */
    #about{
        overflow: hidden;
    }
    #about > img{
        width: 280%;
        margin-left: -90%;
    }
    #about > h2{
        font-size: 6vw;
        margin: 10% auto 0 auto;
    }
    #about > p{
        font-size: 4vw;
        margin-top: 42%;
        width: 75%;
    }
    #about > button{
        padding: 3.5% 7%;
        font-size: 3.5vw;
        margin-top: 83%;
        border-radius: 6px;
    }

    /* ------------------------------little pleasur------------------------------ */
    #little_pleasur{
        margin-top: 5%;
    }
    #little_pleasur > div > div > p{
        font-size: 4vw;
    }

    /* ------------------------------footer------------------------------ */
    footer > div > h2{
        font-size: 6vw;
    }

    /* logos */
    footer{
        grid-template-rows: repeat(4, 1fr) 0.25fr;
        grid-template-columns: 1fr;
        row-gap: 1%;
        background-size: cover;
    }
    #logos{
        grid-column: 1;
        flex-direction: column;
        margin-top: 5%;
        width: 95%;
    }
    #logos > *{
        margin: 0 auto;
    }
    #logos > img{
        width: 25vw;
        margin-bottom: 4%;
    }
    #logos > p{
        font-size: 5vw;
    }
    #logos > div{
        margin-top: 2%;
        margin-bottom: 1%;
        width: 90%;
    }
    #logos > div > a > img{
        width: 9vw;
    }

    /* footer about */
    #f_about{
        grid-row: 2;
    }

    /* explor */
    #explor{
        grid-row: 3;
    }

    /* news */
    #news{
        grid-row: 4;
    }
    #news > div{
        gap: 10%;
        margin: 0 auto 8% auto;
        width: 100%;
        align-items: flex-start;
    }
    #news > div > img{
        border-radius: 2px;
        width: 35%;
    }
    #news > div > p{
        font-size: 4vw;
    }

    /* copyright */
    footer > p{
        grid-row: 5;
        font-size: 4vw;
        margin: 0 auto;
        width: 50%;
    }
}

@media screen and (min-width: 576px) {
    /* ------------------------------global------------------------------ */
    h2{
        font-size: 4vw;
        margin-left: auto;
        margin-right: auto;
    }

    /* ------------------------------header------------------------------ */
    /* top */
    header{
        display: grid;
    }
    header > *{
        grid-area: 1 / 1;
    }
    #top{
        width: fit-content;
        justify-content: space-around;
        margin-left: 6vw;
        margin-top: 2vw;
        gap: 50%;
    }
    #top > img{
        width: 6vw;
    }
    #burger{
        display: none;
    }

    /* order */
    #order > p{
        font-size: 5.8vw;
    }
    #order > p > span{
        font-size: 2vw;
    }
    #order > button{
        font-size: 2vw;
        border-radius: 4px;
        padding: 1.5% 4%;
        margin-top: 45%;
        margin-left: 10%;
    }

    /* ------------------------------navigation menu------------------------------ */
    nav{
        display: flex;
        justify-content: space-between;
        gap: 1vw;
        position: absolute;
        top: 4vw;
        left: 20vw;
        width: 30%;
    }
    nav > a{
        font-size: 1.5vw;
    }

    /* ------------------------------tops products------------------------------ */
    .item_text{
        height: 12vw;
        margin-top: 60%;
    }
    .item_text > img{
        width: 3vw;
    }
    .item_price{
        font-size: 1.5vw;
    }
    .item_name{
        font-size: 1.5vw;
    }
    .add{
        font-size: 1.5vw;
        border-radius: 2px;
        padding: 6% 7%;
    }
    #product{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.4fr repeat(2, 1fr);
        column-gap: 2%;
        margin-top: 6%;
    }
    #product > h2{
        grid-area: 1 / 1 / 1 / 4;
        margin-bottom: 8%;
    }
    #pat_feuil{
        width: 70%;
    }
    #miche_p_comp{
        width: 60%;
    }

    /* ------------------------------event------------------------------ */
    #event > img{
        width: 100%;
    }
    #event > h2{
        font-size: 2.5vw;
        margin-top: 5%;
        margin-left: 36%;
        width: 25%;
    }
    #event > p{
        font-size: 1.8vw;
        margin-top: 15%;
        margin-left: 35%;
        width: 28%;
    }
    #event > button{
        padding: 1% 3%;
        font-size: 1.8vw;
        margin-top: 25%;
    }

    /* ------------------------------discover------------------------------ */
    .switch_img{
        margin-top: 6%;
        padding-bottom: 3%;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2%;
        row-gap: 3%;
    }
    .switch_img > img{
        width: 100%;
        margin: 0;
    }
    #switch{
        width: 70%;
    }
    #switch > div > p{
        font-size: 1.8vw;
    }
    #switch > div > div{
        height: 0.2vw;
    }

    /* ------------------------------about------------------------------ */
    #about{
        margin-top: 6%;
    }
    #about > img{
        width: 100%;
    }
    #about > h2{
        font-size: 4vw !important;
        margin: 5% auto 0 auto !important;
    }
    #about > p{
        font-size: 1.8vw;
        margin-top: 13%;
        width: 27%;
    }
    #about > button{
        padding: 1% 2.5%;
        font-size: 1.8vw;
        margin-top: 25%;
        border-radius: 4px;
    }

    /* ------------------------------little pleasur------------------------------ */
    #little_pleasur{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.4fr 1fr;
        margin-top: 5%;
        margin-bottom: 5%;
        column-gap: 2%;
    }
    #little_pleasur > h2{
        grid-area: 1 / 1 / 1 / 4;
    }
    #little_pleasur > div > div{
        width: 80%;
        margin: 0 auto;
    }
    #little_pleasur > div > div > p{
        font-size: 2vw;
        margin: 0;
    }

    /* ------------------------------footer------------------------------ */
    footer{
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1%;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 5vw;
    }
    footer > div > h2{
        margin: 10% 0 6% 0;
    }
    footer > div > p{
        color: white;
        margin: 0;
        font-size: 1.8vw;
    }

    /* logos */
    #logos{
        grid-area: 1 / 1 / 1 / 4;
        margin-top: 2%;
        padding-bottom: 2%;
        width: 90%;
    }
    #logos > *{
        margin-top: auto;
        margin-bottom: auto;
    }
    #logos > img{
        width: 8vw;
        margin-right: 50%;
    }
    #logos > p{
        font-size: 1.5vw;
        height: fit-content;
    }
    #logos > div{
        width: 25%;
        height: fit-content;
    }
    #logos > div > a > img{
        width: 3vw;
    }

    /* footer about */
    footer > div > h2{
        font-size: 2.5vw;
    }

    /* news */
    #news > div{
        gap: 10%;
        align-items: flex-start;
    }
    #news > div > img{
        border-radius: 2px;
        width: 30%;
    }
    #news > div > p{
        font-size: 1.8vw;
    }
    #news > div > p > span{
        font-size: 1.4vw;
    }

    /* copyright */
    footer > p{
        grid-area: 3 / 1 / 3 / 4;
        font-size: 2vw;
        margin: 10% auto 0 auto;
    }
}

/* ------------------------------global------------------------------ */
body{
    margin: 0;
}
h2{
    font-family: "Sansita Swashed", system-ui;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
}
button{
    cursor: pointer;
    background-color: #933c24;
    color: white;
    font-family: "Inter", sans-serif;
}
a{
    width: fit-content;
    height: fit-content;
}
.hidden{
    display: none;
}

/* ------------------------------navigation menu------------------------------ */
.here{
    color: #e9bd8c !important;
}
nav{
    display: flex;
}
nav > a{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

/* burger menu */
#burger > div{
    height: 2px;
    background-color: black;
    height: 0.625vw;
}

/* ------------------------------header------------------------------ */
/* top */
#top{
    display: flex;
    height: fit-content;
}

/* order */
#order{
    display: grid;
}
#order > *{
    grid-area: 1 / 1;
}
#order > img{
    width: 100%;
    z-index: -1;
}
#order > p{
    font-family: "Sansita Swashed", system-ui;
    color: #ffffff;
    margin-top: 16.5%;
    margin-left: 5.5%;
}
#order > p > span{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #e9bd8c;

}
#order > button{
    font-weight: 500;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
}

/* ------------------------------products------------------------------ */
.item{
    font-family: "Inter", sans-serif;
    display: grid;
    margin-top: 5%;
}
.item > *{
    grid-area: 1 / 1;
}
.item_background{
    width: 100%;
    height: 100%;
}
.item_img{
    width: 55%;
    height: auto;
    margin: 3% auto 0 auto;
}
.item_text{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.item_text > img{
    margin: auto;
    cursor: pointer;
}
.item_price{
    font-weight: 600;
}
.item_name{
    grid-column: 1;
    grid-row: 2;
    width: 80%;
}
.add{
    grid-column: 2;
    grid-row: 2;
    border: #933c24 solid 1px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#product{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}
#pain_campagne{
    width: 80% !important;
}

/* ----animation---- */


/* ------------------------------event------------------------------ */
#event{
    display: grid;
    margin-top: 7%;
    overflow: hidden;
}
#event > *{
    grid-area: 1 / 1;
}
#event > img{
    z-index: -1;
}
#event > h2,
#event > p,
#event > button{
    height: fit-content;
    z-index: 1;
}
#event > h2{
    font-family: "Sansita Swashed", system-ui;
    font-weight: 500;
    color: #933c24;
    text-align: center;
}
#event > p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #5d5d5d;
    text-align: center;
}
#event > button{
    width: fit-content;
    border: 1px solid #933c24;
    border-radius: 6px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------discover------------------------------ */
.switch_img{
    margin-left: auto;
    margin-right: auto;
}

#discover{
    width: 90%;
    height: fit-content;
    margin: 5% auto 0 auto;
}
#discover > h2{
    font-family: "Sansita Swashed", system-ui;
    font-weight: 600;
}

/* switch bar */
#switch{
    display: flex;
    border-bottom: 1px solid #d9d9d9;
    justify-content: space-between;
    margin: 0 auto;
}
#switch > div{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
#switch > div > p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #5d5d5d;
    margin: 0;
    cursor: pointer;
}
#switch > div > div{
    background-color: #933c24;
    border: 1px solid #933c24;
    border-radius: 20px;
    width: 100%;
}

/* ------------------------------about------------------------------ */
#about{
    display: grid;
}
#about > *{
    grid-area: 1 / 1;
}
#about > img{
    z-index: -1;
}
#about > h2,
#about > p,
#about > button{
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#about > h2{
    font-family: "Sansita Swashed", system-ui;
    font-weight: 600;
    color: white;
    text-align: center;
}
#about > p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #b9b9b9;
    text-align: center;
}
#about > button{
    width: fit-content;
    border: 1px solid #933c24;
    font-weight: 600;
}

/* ------------------------------little pleasur------------------------------ */
#little_pleasur{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#little_pleasur > div{
    margin-bottom: 4%;
}
#little_pleasur > div > img{
    width: 100%;
    height: auto;
}
#little_pleasur > div > div{
    display: flex;
    justify-content: space-between;
}
#little_pleasur > div > div > p{
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

/* ------------------------------footer------------------------------ */
footer{
    display: grid;
    background-image: url("../images/background_footer.jpg");
}
footer > div{
    width: 80%;
    margin: 0 auto;
}
footer > div > h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #e9bd8c;
}
footer > div > p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

/* logos */
#logos{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(233, 189, 141, 0.2);
    height: fit-content;
    display: flex;
}
#logos > p{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #e9bd8c;
}
#logos > div{
    display: flex;
    justify-content: space-evenly;
}

/* news */
#news > div{
    display: flex;
    width: 100%;
    height: fit-content;
}
#news > div > p{
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
}
#news > div > p > span{
    font-weight: normal;
    color: #e9bd8c;
}

/* copyright */
footer > p{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #737373;
    text-align: center;
    height: fit-content;
}