/* global */
body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-around;
    gap: 50%;
}
header > img{
    width: 11%;
    height: auto;
}
nav{
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 1;
    font-size: 0.8rem;
}

/* class */
.line{
    height: 2px;
    background-color: black;
}
.hidden{
    display: none;
}

/* id */
#burger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 12px;
    margin: auto 0;
    cursor: pointer;
}
#order > img{
    width: 100%;
    height: auto;
    z-index: -1;
}
#order > p{
    font-family: "Sansita Swashed", system-ui;
    font-size: 130%;
    color: #ffffff;
    margin: 0;
    position: absolute;
    top: 23%;
    margin-left: 6%;
}
#order > p > span{
    font-family: "Inter", sans-serif !important;
    font-size: 60% !important;
    font-weight: 600;
    color: #e9bd8c !important;

}
#order > button{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #933c24;
    position: absolute;
    top: 46%;
    padding: 4px 1px;
    margin-left: 6%;
}
#nav_tri{
    width: 1em;
    height: 1em;
    background-color: lightgrey;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    margin: 0 auto;
    position: absolute;
    left: 1.2em;
    top: -25%;
}
#nav_menu{
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 10%;
    width: fit-content;
    height: fit-content;
    padding: 4%;
    margin: 0 auto;
}
#nav_menu > a{
    display: block;
}