/* global */
body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-around;
    gap: 50%;
}
header > img{
    width: 11%;
    height: auto;
}
nav{
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 1;
    font-size: 0.8rem;
}
h1{
    font-family: "Sansita Swashed", system-ui;
    font-weight: 600;
    width: fit-content;
    margin: 0 auto 8% auto;
    font-size: 6vw;
}

/* class */
.line{
    height: 2px;
    background-color: black;
}
.hidden{
    display: none;
}
.item{
    font-family: "Inter", sans-serif;
    display: grid;
}
.item > *{
    grid-area: 1 / 1;
}
.item_background{
    width: 100%;
    height: 16em;
}
.item_img{
    width: 55%;
    height: auto;
    margin: 3% auto 0 auto;
}
.item_text{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    height: fit-content;
    margin: 65% auto 0 auto;
    color: white;
}
.item_price{
    font-weight: 600;
    font-size: 0.8em;
}
.info{
    border: 1px solid white;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    padding: 4% 11%;
    margin: auto;
    grid-column: 2;
    font-size: 0.9em;
}
.item_name{
    grid-column: 1;
    grid-row: 2;
    font-size: 0.8em;
}
.add{
    grid-column: 2;
    grid-row: 2;
    background-color: #933c24;
    border: #933c24 solid 1px;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    padding: 10% 12%;
    margin: auto;
    color: white;
}

/* id */
#burger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 12px;
    margin: auto 0;
    cursor: pointer;
}
#order{
    display: grid;
}
#order > *{
    grid-area: 1 / 1;
}
#order > img{
    width: 100%;
    height: auto;
    z-index: -1;
}
#order > p{
    font-family: "Sansita Swashed", system-ui;
    font-size: 130%;
    color: #ffffff;
    margin-top: 16.5%;
    margin-left: 5.5%;
}
#order > p > span{
    font-family: "Inter", sans-serif !important;
    font-weight: 600;
    font-size: 60% !important;
    color: #e9bd8c !important;

}
#order > button{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #933c24;
    width: fit-content;
    height: fit-content;
    padding: 1.5% 0.5%;
    margin-top: 45%;
    margin-left: 5%;
}
#nav_tri{
    width: 1em;
    height: 1em;
    background-color: lightgrey;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    margin: 0 auto;
    position: absolute;
    left: 1.2em;
    top: -25%;
}
#nav_menu{
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 10%;
    width: fit-content;
    height: fit-content;
    padding: 4%;
    margin: 0 auto;
}
#nav_menu > a{
    display: block;
}
#product{
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}